<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Statname.net</div>
            <div class="card-body">
                <template v-if="first_step">
                    <div v-if="errors.length">
                        <b>Пожалуйста исправьте указанные ошибки:</b>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </div>
                    <form autocomplete="off" @submit.prevent="submitForm" method="post">
                        <div class="form-group">
                            <label for="lnk">Введите ссылку</label>
                            <input v-model="lnk" type="text" id="lnk" class="form-control" placeholder="https://example.com">
                        </div>
                        <button type="submit" class="btn btn-primary">Сделать ссылку</button>
                    </form>
                </template>
                <template v-else>
                    <div v-if="saving_errors.length">
                        <ul>
                            <li v-for="error in saving_errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </div>
                    <form autocomplete="off" @submit.prevent="lnkSave" method="post">
                        <div class="form-group">
                            <label for="lnk_view">Ваша ссылка</label>
                            <input v-model="lnk_view" type="text" id="lnk_view" class="form-control" readonly>
                            <input v-model="lnk_save" type="hidden">
                            <input v-model="lnk" type="hidden">
                        </div>
                        <button type="submit" class="btn btn-primary">Сделать ссылку</button>
                    </form>
                </template>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                errors: [],
                lnk: null,
                first_step: 1,
                lnk_save: null,
                saving_errors: [],
                lnk_view: null,
            }
        },
        mounted() {},
        methods: {
            submitForm(e) {
                this.$http.post('/lnk', {lnk: this.lnk}).then(response => {
                    if (response.data.result === 'error') {
                        this.errors = response.data.messages;
                    } else if (response.data.result === 'ok') {
                        this.first_step = false;
                        this.lnk_save = response.data.short_lnk;

                        // todo часть 'https://q.w/' тут по идее префикс ссылок брать с настроек или конфига
                        this.lnk_view = 'https://q.w/' + response.data.short_lnk;
                    }
                });
            },
            lnkSave(e) {
                this.$http.post('/lnk_save', {lnk: this.lnk, lnk_save: this.lnk_save}).then(response => {
                    if (response.data.result === 'error') {
                        this.saving_errors = response.data.messages;
                    } else if (response.data.result === 'ok') {
                        this.first_step = true;
                        this.errors = [];
                        this.lnk = '';
                    }
                });
            },
        }
    }
</script>